{% extends "::base.html.twig" %}

{% block body %}
{{ form_start(form) }}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="row">
        <div class="span6">
            <h2>Canales</h2>
            {% if form.channels.vars.errors|length > 0 %}
                <div class="alert alert-error">
                    {{ form_errors(form.channels) }}
                </div>
            {% endif %}
            {% form_theme form.channels 'CaecePicBundle:Admin:channelCollectionTheme.html.twig' %}
            {{ form_widget(form.channels) }}
        </div>
        <div class="span6">
            <h2>Otra configuración</h2>
            {{ form_row(form.sampleInterval) }}
            {{ form_row(form.notifyEmailAddress) }}
            <div>
                <h3>Luces</h3>
                {{ form_row(form.lightScheduleEnabled) }}
                <p class="alert alert-info">
                    Los tiempos deben ser especificados con cuatro números, siendo
                    por ejemplo <strong>2231</strong> las 22:31.
                </p>
                {{ form_errors(form.lightStartTime) }}
                {{ form_errors(form.lightEndTime) }}
                <div class="inline-short-inputs">
                    {{ form_label(form.lightStartTime, "Desde") }}{{ form_widget(form.lightStartTime) }}
                    {{ form_label(form.lightEndTime, "hasta") }}{{ form_widget(form.lightEndTime) }}
                </div>
            </div>
        </div>
    </div>
    <div class="admin-submit-container">
        {{ form_widget(form.save, {"attr":{"class": "btn btn-primary btn-large"} }) }}
    </div>
{{ form_end(form) }}
{% endblock %}