{{ form_start(form, {'action': path('caece_pic_downloadhistory_processform')}) }}
    {{ form_row(form.channel) }}
    <div class="datetime-widget">
        {{ form_row(form.beginTime) }}
    </div>
    <div class="datetime-widget">
        {{ form_row(form.endTime) }}
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
